@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

* {
  margin: 0;
}

/* This one is made after Ana Tudor's loader. See her pen here: 
https://codepen.io/thebabydino/pen/gOMOMYz
*/

.spinner {
  width: 60px;
  height: 60px;
  border: 6px solid #000; /* Black border */
  border-top-color: #CF9FFF; /* Red top border */
  border-radius: 50%;
  animation: spin 0.8s linear infinite;
  margin: 100px auto;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}


.error{
  color: red;
  font-size: 12px;
}